{% extends "base2.html" %}
{% block content %}
<body>
    <h1>Register Page</h1>
    <form action="{{ url_for('auth.register') }}" method="POST">
        <div class="form-group">
            <label for="email">username</label>
            <input type="email" class="form-control" id="username" name="username" placeholder="Enter Username"/>
          </div>
          <div class="form-group">
            <label for="password1">Password</label>
            <input type="password" class="form-control" id="password1" name="password1" placeholder="Enter password"/>
          </div>
          <div class="form-group">
            <label for="password2">Password (Confirm)</label>
            <input type="password" class="form-control" id="password2" name="password2" placeholder="Confirm password"/>
          </div>
          <br />
    <a href="login">Already have an account? Log In</a>
    </form>
</body>
{% endblock %}